<section class="personajes">
    @for(personaje of data; track $index){
        <div class="personaje">
            <div class="card">
                <div class="imgbox">
                    <img [src]="personaje.image">
                </div>
                <div class="content">
                    <span class="id">
                        <a href="#">{{personaje.id}}</a>
                    </span>
                    <ul>
                        <li>{{personaje.name}}</li>
                        <li>{{personaje.gender}}</li>
                        <li>{{personaje.species}}</li>
                        <li>{{personaje.status}}</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</section>
